[2019-01-14 18:28] xackery opened #20 "pl is ambiguous with ASCII propertery list utility in osx"
https://www.quora.com/What-does-the-pl-command-do-in-OS-X-terminal-And-how-can-I-figure-this-out-without-asking-someone

[2019-01-14 18:29] xackery opened #21 "vague errors e.g. found { but expected [constant]"
[code]
No line numbers or file names when an error is found

[2019-01-14 18:34] xackery commented on #21
Looks like it dislikes:
`string owner_machine_id = 3 [(validator.field) = {regex: "^[A-z0-9-]+$"}];`

this is part of https://github.com/mwitkow/go-proto-validators

[2019-01-15 22:05] yoheimuta commented on #20
@xackery thanks for the report.

merged #22 with a renamed binary release v0.9.1.

[2019-01-15 22:05] #20 closed

[2019-01-15 22:08] yoheimuta commented on #21
@xackery thanks for the report.

Let me check.

[2019-06-12 04:52] jpreese opened #25 "Notice: vscode-protobuflint"
Again, thanks for putting this project together.

As I mentioned in PR #24, the next logical step would be to get this into Visual Studio Code so that users can lint their `.proto` files as they type.

I put together a MVP here (https://github.com/jpreese/vscode-protobuflint). It uses your tool on the backend, and renders any linting errors to the editor.

I haven't cut a release to the marketplac

[2019-06-12 05:41] yoheimuta commented on #25
That's impressive!
Thank you for sharing your work.

[2019-06-12 09:40] aLekSer commented on #21
I got this bug on this file:
https://github.com/googleforgames/agones/blob/master/sdk.proto
[code]
Seems to could not parse `option (google.api.http) = {`:
[code]

[2019-06-12 10:02] yoheimuta commented on #21
@aLekSer Thank you very much for the report.
I will investigate it soon.

[2019-06-12 10:28] yoheimuta commented on #21
@aLekSer I understand the issue. I will first fix https://github.com/yoheimuta/go-protoparser/issues/22.

[2019-06-12 11:17] aLekSer opened #27 "found "extend" but expected [;]"
Found this while running protolint on https://github.com/googleapis/googleapis/blob/master/google/api/annotations.proto

`protolint -v ./annotations.proto` results:
[code]

I think extend keyword is missing but could not find it in proto styleguide.

[2019-06-12 11:18] yoheimuta commented on #21
@aLekSer https://github.com/yoheimuta/protolint/pull/26 fixed this issue.
Could you confirm it's OK?

[2019-06-12 11:18] aLekSer commented on #21
Yes, now it is ok, and `option () = {}` got parsed well.

[2019-06-12 11:19] yoheimuta commented on #21
Thanks for confirming!

[2019-06-12 11:20] #21 closed

[2019-06-12 11:27] yoheimuta commented on #27
@aLekSer Thank you for reporting!
I will handle this issue to prevent errors.

[2019-06-12 11:36] yoheimuta commented on #27
I will first fix https://github.com/yoheimuta/go-protoparser/issues/24.

[2019-06-12 12:39] yoheimuta commented on #27
@aLekSer https://github.com/yoheimuta/protolint/pull/28 fixed this issue. Could you confirm it?

[2019-06-12 12:44] aLekSer commented on #27
Thank you, now this issue is fixed also.

[2019-06-12 21:05] jpreese commented on #25
No problem! Feel free to close this if you want. Just wanted to make you aware that the repository now exists.

I've got it in a state now that should make it MVP. You can grab a release from the releases page (https://github.com/jpreese/vscode-protobuflint/releases).

After its been battle-tested some, I'll push it to the marketplace.

[2019-06-12 21:53] yoheimuta commented on #27
Thanks!

[2019-06-12 21:53] #27 closed

[2019-06-12 23:37] yoheimuta commented on #25
I see. I'm looking forward to the release.
And I added it to users. Thanks.

- ref. https://github.com/yoheimuta/protolint#users

[2019-06-12 23:37] #25 closed

[2019-06-13 20:32] jpreese opened #30 "Suggestion: Windows Release"
I think it would be beneficial to also generate a Windows binary when creating releases

[2019-06-13 22:11] yoheimuta commented on #30
@jpreese Thank you for your suggestion!
I'm all for it. I will do it.

[2019-06-13 22:23] yoheimuta commented on #30
From v0.9.4 onwards, a release includes Windows binaries.

- ref. https://github.com/yoheimuta/protolint/releases/tag/v0.9.4

[2019-06-13 22:23] #30 closed

[2019-06-29 07:16] yoheimuta commented on #25
(@jpreese )

I have cut a release for `intellij-protolint` under the influence of `vscode-protolint`.
The example section in the README is based on `vscode-protolint` because it looks good.

Thank you!

- https://github.com/yoheimuta/protolint/pull/33
- https://plugins.jetbrains.com/plugin/12641-protocol-buffer-linter

[2019-06-29 16:24] jpreese commented on #25
@yoheimuta you're welcome! Good idea to expand it to other editors.

[2019-08-06 00:59] tomascassidy opened #59 "Feature request: junit output"
It would be nice if protolint could output it's error messages in JUnit xml format.

This would make it easy to integrate with Jenkins and other CI tools for reporting linting errors.

[2019-08-06 02:10] yoheimuta commented on #59
@tomascassidy Thank you for your request. Sounds good!
I have considered that it is arguably beneficial to support various formats. Therefore, I will implement the JUnit output in a bit.

[2019-08-10 00:31] yoheimuta commented on #59
@tomascassidy I have cut a release to introduce a JUnit reporter. See #62 in detail.
You can grab the release from https://github.com/yoheimuta/protolint/releases/tag/v0.15.0.

If anything with wrong when you give it a try, please reopen this issue or open the new one and let me know.

[2019-08-10 00:31] #59 closed

[2019-08-19 16:45] pascalmr opened #63 "INDENT rule doesn't handle "extend" properly"
Issue #27 introduced support for the "extend" keyword.
Unfortunately the indent rule doesn't handle it correctly. It seems to expect no indentation for the extension content (https://github.com/googleapis/googleapis/blob/master/google/api/annotations.proto):
_[google\api\annotations.proto:30:3] Found an incorrect indentation style "  ". "" is correct._
_[google\api\annotations.proto:29:3] Found an

[2019-08-20 00:22] mrmeku opened #64 "Publish the linter to NPM"
People love linting! Lets let the Javascript projects join in on the fun too.

[2019-08-20 00:26] mrmeku commented on #64
If you're open to the idea of publishing to NPM I can make a PR to help get everything together. I just want to gauge interest first

[2019-08-20 00:28] jpreese commented on #64
What were you thinking in regards to npm? I feel like with an npm script command you could just run protolint,

[2019-08-20 00:30] yoheimuta opened #65 "Support custom lint rule"
I'm working on it backed by the plugin mechanism.

[2019-08-20 00:33] yoheimuta commented on #63
@pascalmr Thank you for your report.
It appears to be sure in need of the fix.

[2019-08-20 10:48] pascalmr opened #66 "Block followed by semicolon causing runtime error"
Running protolint on one of my v3 proto files resulted in the following error:
_panic: runtime error: invalid memory address or nil pointer dereference_

After some tests the cause was found: the protolint parser doesn't accept a semicolon after a statement block in curly brackets, e.g. after service/rpc/method:
`service LazyService {};  // Semicolon causing runtime error`

According to the Protob

[2019-08-21 03:29] wwuck opened #67 "Command line argument for version info"
It would be nice to have protolint output it's version string when outputting the help information.

Some possibilities:

`protolint` output could be amended to output version information.
`protolint -version` could output just the version information.
`protolint -help` could output the help/usage information and version information.

[2019-08-21 04:25] yoheimuta commented on #66
@pascalmr Thank you for your report!

I agree with that.

[2019-08-21 04:33] yoheimuta commented on #67
@tomascassidy Thank you for your suggestion!

It makes sense.

This way seems to be an easier way for now.

[2019-08-21 04:58] yoheimuta commented on #63
I fixed it by https://github.com/yoheimuta/protolint/pull/68.

[2019-08-21 05:03] yoheimuta commented on #63
@pascalmr Please let me know if you can still experience the problem.

[2019-08-21 05:03] #63 closed

[2019-08-21 06:59] yoheimuta commented on #66
I adapted protolint by https://github.com/yoheimuta/protolint/pull/69.

[2019-08-21 07:00] yoheimuta commented on #66
@pascalmr Please let me know if you can still experience the problem.

[2019-08-21 08:42] pascalmr commented on #66
@yoheimuta It is working for service/method/enum blocks now, but not for rpc yet:
[code]
I very much appreciate your work, thank you.

[2019-08-21 09:29] yoheimuta commented on #66
@pascalmr Thank you for your confirmation.
I have missed it. I will fix it later on.

[2019-08-22 00:46] yoheimuta commented on #66
@pascalmr I fixed it.
Please let me know again if you can still experience the problem.

[2019-08-22 00:46] #66 closed

[2019-08-22 00:50] yoheimuta commented on #65
It's done.

[2019-08-22 00:50] #65 closed

[2019-08-23 15:22] pascalmr opened #74 "False-positive by indent rule"
Maybe related to fixing #66 I encountered a false-positive of the indent rule in the newest version 0.16.0 which is reported if the last rpc method of a service is having a statement block:
[code]
In my case the rpc statement block is containing an option, but it's not needed to get the issue.

[2019-08-23 22:59] yoheimuta commented on #74
@pascalmr Thank you for your report!
You are right. I can reproduce this issue when protolint depends on the new go-protoparser.

I will fix it.

[2019-08-24 02:57] yoheimuta commented on #74
I fixed it by https://github.com/yoheimuta/protolint/pull/75.
I have cut a release as v0.16.1.

@pascalmr Please let me know whenever you can still experience the problem.
I appreciate your detailed report. Thank you.

[2019-08-24 02:57] #74 closed

[2019-08-30 12:36] pascalmr opened #76 "Seg fault with example plugin"
I started to implement a custom rule within my own plugin but got a segmentation fault when trying to use it with protolint. To make sure that it is a problem of my own plugin I compiled your example plugin, but I got the same error.
My system:
- Ubuntu 18.04.2
- go 1.12.9 (linux/amd64)

My steps in detail:
- Build and install protolint
- Build example plugin: `go build -buildmode=plugin`
- Make s

[2019-08-31 00:55] yoheimuta commented on #76
@pascalmr Thank you for that quick feedback!

Protolint plugin is backed by `hashicorp/go-plugin`, not the plugin standard library.

- ref. https://github.com/hashicorp/go-plugin#what-about-shared-libraries

Therefore, you should build the plugin just as a normal Go main package.

- `go build -o plugin_example _example/plugin/main.go`
- ref. https://github.com/yoheimuta/protolint/blob/2d4d33a14dd4

[2019-09-02 04:02] #76 closed

[2019-09-03 08:45] pascalmr commented on #76
@yoheimuta Thank you for the clarification.
Now the plugin is loaded and my custom rule is working as expected.
Great feature!

[2019-09-03 08:56] yoheimuta commented on #76
@pascalmr Good to hear that! Thank you for your information.

[2019-09-06 02:04] jpreese commented on #64
This is probably something we can close @yoheimuta, I don't think there's enough context here to really act on anything and the author seems to have disappeared.

[2019-09-06 02:17] yoheimuta commented on #64
@mrmeku Thank you for the feature request. Please feel free to report an issue if there is anything.

@jpreese Thank you for taking care of the issue.

[2019-09-06 02:17] #64 closed

[2019-10-07 10:05] Spatzier-Beck opened #81 "DEBUG log entries from plugin contained in JUnitReporter output"
I have a protolint plugin with some custom defined rules. The protolint output should be written to a file. I use the following bash script to execute protolint (just a part of the script):
[code]

After executing the script the $PROTOLINT_RESULT_FILE contains the following:
[code]

I saw that the [plugin mechanism](https://github.com/hashicorp/go-plugin) of protolint uses the [hclog logger](https

[2019-10-07 10:36] yoheimuta commented on #81
@Spatzier-Beck Thank you for this report.
I'm going to work on suppressing the plugin debug logs when -v is not specified.

[2019-10-07 11:22] yoheimuta commented on #81
@Spatzier-Beck I have cut a release, including the fix.
Please confirm if it works for you.

- ref. https://github.com/yoheimuta/protolint/releases/tag/v0.17.1

[2019-10-07 11:29] yoheimuta opened #83 "Support -output flag"
ref. [DEBUG log entries from plugin contained in JUnitReporter output · Issue #81 · yoheimuta/protolint](https://github.com/yoheimuta/protolint/issues/81)

asis

- The report and logs output to stderr

tobe

- The report outputs to the specified file.
- Logs output to stderr as before.

[2019-10-07 11:58] Spatzier-Beck commented on #81
@yoheimuta Thanks a lot for the very fast support :-) I tested it and it worked perfect.

[2019-10-07 11:58] #81 closed

[2019-10-21 18:48] davidhart82 opened #85 "Output format not supported by CI tools"
Hi, excellent tool, we're considering using it as part of our CI environment.

The one issue at have is that the output format is not supported by any of the jenkins plugins we use (and junit isn't really the right format for a linter to output).

I'm considering adding protolint parsers to the plugins we use (warnings-ng and any that use violatons lib), if you think that's OK? Unless there is a m

[2019-10-21 20:30] davidhart82 commented on #85
I've added a PR for violations-lib: https://github.com/tomasbjerre/violations-lib/pull/79

[2019-10-21 21:11] davidhart82 commented on #85
And analysis model: https://github.com/jenkinsci/analysis-model/pull/236

[2019-10-22 01:40] nvx opened #86 "protolint disable not working"
I added the following to my proto file on the line before an 81 character long line (not really any good way to shorten the go_package option when you want to specify the full go package path).

[code]

And yet I still get a linter error for the next line down:

[code]

Does protolint:disable not work with MAX_LINE_LENGTH? Or have I mucked up the syntax?

[2019-10-22 03:10] yoheimuta commented on #85
@davidhart82 Thank you for your feedback and suggestion!

Of course, it's OK. I appreciate your work.
I'd like to add your contribution to the README blurb after your PRs will be merged.

You mean that protolint should have a more standard reporter, right? If you have any suggestions(such as JSON or some template style), please let me know.

- ref. https://github.com/yoheimuta/protolint#reporters

[2019-10-22 03:23] yoheimuta commented on #86
@nvx Thank you for this report.
I also noticed that protolint:disable does not completely work with MAX_LINE_LENGTH.

I'm going to work on that fix.

[2019-10-23 19:21] davidhart82 commented on #85
https://github.com/jenkinsci/warnings-ng-plugin/pull/241

[2019-10-26 20:29] davidhart82 commented on #85
https://github.com/jenkinsci/warnings-ng-plugin/releases/tag/warnings-ng-7.1.0

[2019-10-26 20:29] #85 closed

[2019-10-31 22:52] LucasBassetti opened #87 "protolint: command not found"
I installed the protolint in my macOS v10.15 with
`go get -u -v github.com/yoheimuta/protolint/cmd/protolint`

but after run `protolint` command in the terminal I received:
`protolint: command not found`

I also tried restart the terminal and mac but didn't work.

Any help?

[2019-10-31 23:16] yoheimuta commented on #87
@LucasBassetti

Of course, sure.
The path to protolint depends on your GOPATH and PATH envs.
I demonstrated it under /tmp like below.

[code]

FYI: If it won't work for you, you can also grab the binary from the release page.

- https://github.com/yoheimuta/protolint/releases

[2019-10-31 23:41] LucasBassetti commented on #87
Got it!

I fixed by setting GOPATH using:

[code]

Thank you!

[2019-10-31 23:41] #87 closed

[2019-11-04 05:27] nvx opened #88 "oneof options fail to parse"
Using options on oneof fields causes a parse error in protolint, despite protoc not having an issue with it.

Example use: https://github.com/mwitkow/go-proto-validators/blob/fef10b927e0a0207085b8f8fc58a01f9a096d9e6/test/validator_proto3_oneof.proto#L25

[code]

[2019-11-04 23:54] yoheimuta commented on #88
@nvx Thank you for reporting the issue!

While the spec document says that an oneof doesn't contain options, actually this behavior seems accepted as you mentioned.

Hence, I will support this case.

[2019-11-05 14:01] yoheimuta commented on #88
@nvx I published v0.19.0 to allow an oneof to have options.

- https://github.com/yoheimuta/protolint/releases/tag/v0.19.0

Please let me know when you still have issues.

[2019-11-07 00:02] nvx commented on #88
Looks good now, cheers!

[2019-11-07 00:02] #88 closed

[2019-11-10 13:40] yoheimuta commented on #86
I fixed it with v0.19.1. Please confirm that it works well whenever you have time.

- ref. https://github.com/yoheimuta/protolint/releases/tag/v0.19.1

[2019-11-11 01:11] nvx commented on #86
Looks like it's working now, cheers!

[2019-11-11 01:11] #86 closed

[2019-11-11 01:51] yoheimuta commented on #85
I added a commit.

- ref. https://github.com/yoheimuta/protolint/commit/cdf1b6b9d4b26d21bae69cd9843b47b4ad740675

[2019-11-12 13:19] yoheimuta commented on #67
I added a new subcommand "version".

[code]

[2019-11-12 13:19] #67 closed

[2019-11-13 17:24] vishwanathj opened #92 "is there a plan to publish docker images?"

[2019-11-13 23:02] yoheimuta commented on #92
@vishwanathj Thank you for your suggestion!

I didn't expect to publish a docker image.
However, that sounds convenient so I'd like it.

[2019-11-14 03:06] yoheimuta commented on #92
I will support this in a bit.

[2019-11-14 20:27] vishwanathj commented on #92
@yoheimuta Thanks

[2019-11-15 00:14] yoheimuta commented on #92
@vishwanathj I shipped the Docker image.
Please check it out whenever you have time.

- ref. https://github.com/yoheimuta/protolint#use-the-maintained-docker-image

[2019-11-15 17:33] vishwanathj commented on #92
@vishwanathj Thanks for making this happen, I tested it and it works awesome.
What would be another helpful thing would if the git releases have a corresponding published docker images.

[2019-11-15 22:36] yoheimuta commented on #92
@vishwanathj I missed mentioning the version releases.
protolint is also supporting it, which means automatically building a corresponding image as the GitHub Releases.

I just didn't ship the image yet because there were not many updates.

That said, for confirmation, I just released v0.20.1 a while ago.

- https://hub.docker.com/layers/yoheimuta/protolint/v0.20.1/images/sha256-0d63314d44a91d6643

[2019-11-16 01:25] vishwanathj commented on #92
Awesome, thanks a bunch

[2019-11-16 05:42] #92 closed

[2019-11-19 22:28] yoheimuta commented on #83
Done.

[2019-11-19 22:28] #83 closed

[2019-11-20 11:59] PaulSonOfLars opened #99 "Incorrect "invalid indentation style" error"
## Issue:
`protolint` reports an invalid indentation error, which breaks protos when using the `--fix` flag.

## Expected outcome:
Valid proto output, as well as a correct error. This is not an indentation error, but a formatting error. The linter should be recommending the removal of the `;` after the enum close.

## Versions:
OS: `macOS Mojave 10.14.6`
protolint: `0.20.0` and `0.21.0`

## Steps

[2019-11-20 13:27] yoheimuta commented on #99
@PaulSonOfLars Thank you for reporting the issue!
I fixed it and shipped v0.21.1.
Please confirm it works well whenever you have time.

[2019-11-20 13:30] PaulSonOfLars commented on #99
Great, thank you for the speedy fix! Just tested, can confirm the issue is gone.
Thanks again!

[2019-11-20 13:30] #99 closed

[2019-11-20 15:02] PaulSonOfLars opened #101 "Feature request: Improve parse error handling"
Currently, the behaviour when a parsing error occurs is to fail with a message such as `found "{" but expected [constant]. Use -v for more details` and an exit code of 1. There is no indication of which file has failed without using the -v flag, which is incredibly verbose, and goes to stderr. The exit code of 1 also makes it hard to differentiate from a "normal" linting error.

For use in CI and

[2019-11-21 00:46] yoheimuta commented on #101
@PaulSonOfLars Thank you for your excellent suggestion!
At first glance, I agree with that.

protolint already has a mechanism of extending reporters, so it's possible without much hassle. I don't have much motivation for additional reporters at the moment, but it's welcome if anyone wants one of them.

- ref. https://github.com/yoheimuta/protolint/pull/97/files

If you'd like a specific reporter,

[2019-11-21 10:12] PaulSonOfLars commented on #101
Good to hear! I'll take a stab at adding a few different reporters, thanks for the PR link!

[2019-11-21 10:35] sulume opened #103 "Feature Request: accept long non-splittable texts with MAX_LINE_LENGTH"
It'd be nice to have some exceptions for lines exceeding max line length (without explicit disable macros) since it's sometimes not feasible to split in proto files for cases like long URLs and import paths.

Just for reference, Google's [C++ Style Guide](https://google.github.io/styleguide/cppguide.html#Line_Length) and [Java Style Guide](https://google.github.io/styleguide/javaguide.html#s4.4-co

[2019-11-21 14:31] PaulSonOfLars opened #107 "Indentations in square brackets aren't fixed"
The following proto does not get any indentation warnings raised, even though the values in the [] are all over the place. Is this intended?

[code]

[2019-11-21 14:42] PaulSonOfLars opened #108 "Parsing error when using nested values"
The following proto raises errors around the "additional_bindings" line, even though this is a valid proto ([another example here](https://github.com/grpc-ecosystem/grpc-gateway/blob/master/examples/proto/examplepb/flow_combination.proto#L58)).

[code]

I have also seen the following syntax be used instead, but this also raises an error. However, this one seems to be thrown in the Lexer, rather th

[2019-11-22 00:24] yoheimuta commented on #103
@sulume Thank you for your feature request!
It makes sense a lot overall. I understand the need to accept some exceptions.

Do you have any good ideas or references to a specific implementation for that?
I think protolint should conservatively handle the exceptions because it already allows end-users to disable the rule by a line.

At first glance, at least an exception for import paths would be r

[2019-11-22 10:48] PaulSonOfLars opened #109 "Fix parsing on trailing commas"
The trailing comma after the `field2` value in this scenario breaks parsing.
This is a valid proto, and should not be the case.

[code]

[2019-11-22 14:44] PaulSonOfLars commented on #108
Having had a good look at what the issue here is... [this](https://github.com/protocolbuffers/protobuf/issues/5075#issuecomment-415618391) has appeared quite relevant.
Turns out, the above is undocumented syntactic sugar for
[code]
Which the protoc tool accepts just fine, but that noone deemed necessary to add to the spec.

[2019-11-23 06:09] yoheimuta commented on #107
@PaulSonOfLars Good catch on the case!
It's not intended. I just missed that case.

[2019-11-23 10:09] sulume commented on #103
Thank you for your quick response.

I'm not really sure how the consistency is maintained, but I think one way is to add another rule option alongside `max_chars` and `tab_chars` so that users have options on its behavior and existing users would see it working the same by default.

For example,
- a boolean rule option to ignore import lines, and another for URLs
   - Separate options may have dif

[2019-11-24 07:56] yoheimuta commented on #108
@PaulSonOfLars I published v0.22.1. Please confirm it works well.

- ref. https://github.com/yoheimuta/protolint/releases/tag/v0.22.1

[2019-11-24 08:10] yoheimuta commented on #103
@sulume

That sounds great. Thank you for providing nice examples.
Thanks to those, it's time to implement each exception incrementally.

[memo] I'm thinking of working on them when I finish existing priority issues.
If you need them (asap) before I will assign myself, PRs are always welcome.

[2019-11-24 08:12] yoheimuta opened #111 "Add more fixers"
asis

- IMPORTS_SORTED
- INDENT

tobe

- More

[2019-11-24 08:14] yoheimuta opened #112 "Add a vim plugin"
I'm working on it at the moment.

[2019-11-24 12:35] PaulSonOfLars commented on #108
Great, thank you! I will confirm tomorrow.

[2019-11-25 10:16] PaulSonOfLars commented on #109
Fixed in #110! Thank you.

[2019-11-25 10:16] #109 closed

[2019-11-25 10:16] PaulSonOfLars commented on #108
fixed in #110! thank you.

[2019-11-25 10:16] #108 closed

[2019-11-25 11:38] PaulSonOfLars opened #114 "Unexpected `ORDER` rule violation"
[Certain protos](https://github.com/golang/protobuf/blob/e91709a02e0e8ff8b86b7aa913fdc9ae9498e825/protoc-gen-go/testdata/imports/test_import_a1m2.proto) contain simple `option` assignments at the top of the file, before the imports. Linting these results in the following lint violation:
`The order of Import is invalid. Check if the file is ordered in the correct manner.`

These are usually used fo

[2019-11-26 06:55] yoheimuta commented on #114
@PaulSonOfLars Thank you for taking care of the issue!

Let me know the following to understand the problem clearly.

These files are violating the file structure of the Google Style Guide.
Is it right?

- ref. https://developers.google.com/protocol-buffers/docs/style#file-structure

You mean that the `ORDER` rule, which equals to the Google Style Guide, should allow a few exceptions about option

[2019-11-26 09:31] yoheimuta commented on #112
ref. https://github.com/dense-analysis/ale/pull/2911

[2019-11-26 12:02] PaulSonOfLars commented on #114
Seems like I missed the [structure style](https://developers.google.com/protocol-buffers/docs/style#file-structure) section; If thats what google recommends, then I would use that.

In which case, I'm just disappointed that they [ignore their own guidelines](https://github.com/golang/protobuf/blob/e91709a02e0e8ff8b86b7aa913fdc9ae9498e825/protoc-gen-go/testdata/imports/test_import_a1m2.proto)...

Y

[2019-11-26 12:02] #114 closed

[2019-11-26 16:14] germanschnyder-itx opened #116 "protolint:disable not working for enums"
I´m trying to use the disable marker on some proto files but i cannot get it to work on ENUMS rules.
For example, this file:

[code]

will always output these errors:

[code]

I´ve tried with just one disable and I get the same result. I´ve found that other rules do work (e.g.  `protolint:enable MAX_LINE_LENGTH`)

[2019-11-27 10:57] PaulSonOfLars commented on #116
Which version are you using? I cannot reproduce this using your example on `0.22.1`.
Do you have a `.protolint.yaml` file currently active?

[2019-11-28 08:41] germanschnyder-itx commented on #116
I'm using the version that gets installed when executing `go get github.com/yoheimuta/protolint`:
[code]
Right now this is failing without any configuration file.

[2019-11-28 08:48] PaulSonOfLars commented on #116
I can't reproduce this on go `1.13.4`, using the github released package (downloaded through `brew`). Do you have any other examples you could provide?
Or do you have access to any other systems you could try this on?

@yoheimuta might be worth making the master branch use the current git tag/hash/date to avoid "master(latest)" where we have no debug info

[2019-11-28 09:41] germanschnyder-itx commented on #116
Docker ?

[code]

[2019-11-28 10:05] PaulSonOfLars commented on #116
Still not getting any errors. Are you sure you there is no .protolint.yaml file in your directory?
![image](https://user-images.githubusercontent.com/17353640/69796811-90472580-11c6-11ea-8bd6-f68a48e2a263.png)

[2019-11-28 10:54] germanschnyder-itx commented on #116
Yep, 100% sure :\

[2019-11-28 12:52] germanschnyder-itx commented on #116
Just in case, this is the docker image I've got:
`yoheimuta/protolint                                                    latest               a9438e994d0a        4 days ago          22.2MB`

and I've created a new folder with just the example file in it.

[2019-11-28 12:55] germanschnyder-itx commented on #116
Just in case, I also run an image deletion (i.e. `docker rmi IMAGE_ID`) and re-run with fresh docker image. Same error.

[code]

[2019-11-28 13:10] germanschnyder-itx commented on #116
Also, I get the same 3 errors for all the available tags in dockerhub (v0.20.1 up to latest).
And, just in case, if test the _examples/proto files I get tons of errors (that are not present in the README file)

[2019-11-28 13:14] germanschnyder-itx commented on #116
Update, just tried to copy and paste your `cat` output and seems to be working :|

[2019-11-28 13:20] germanschnyder-itx commented on #116
Got it, my file has ^M$ chars all over ... that seems to be fooling the linter. Is there a way to support these kind of windows-linux files compatibility ?

[2019-11-28 13:34] PaulSonOfLars commented on #116
Typical windows snowflake bugs; I'd assumed it wasn't windows when you mentioned Ubuntu 19, but guess theres no escape.

My guess is that the //protolint:disable directive checks everything until \n, so it assumes the \r is part of the rulename you're trying to ignore;
So it tries to ignore "RULENAME\r" instead of "RULENAME".

I'll open a PR for this in a minute.

[2019-11-28 14:53] germanschnyder-itx commented on #116
I know.. I'm in Ubuntu but other devs are in windows...
The weird thing is that some other rules DO work. But, anyway, I'm looking forward to your PR :)
 Thanks !

[2019-11-28 15:28] PaulSonOfLars opened #117 "Feature: rule verification"
It would be nice if the linter was able to check whether a rule is defined or not.
This would likely have helped avoid #116, where rules seemed to be ignored because of trailing whitespace.

This should be used to check the rules specified in `.add` and `.remove` in the config, as well as `protolint:disable` directives.

[2019-11-28 15:37] PaulSonOfLars commented on #116
If I'm correct on the nature of the issue, this should now be fixed.

[2019-11-28 15:42] germanschnyder-itx commented on #116
Well, lets see. Will let you know as soon as I cant get to test it.

[2019-11-28 15:51] PaulSonOfLars commented on #116
My local tests seem to suggest it works now, so thats promising.

[2019-11-29 03:03] #116 closed

[2019-11-29 03:26] yoheimuta commented on #116
@germanschnyder-itx Thank you for reaching out!
I shipped fixed v0.22.2.

- ref. https://github.com/yoheimuta/protolint/releases/tag/v0.22.2

@PaulSonOfLars Thank you for investigating and fixing it!

[2019-11-29 03:45] yoheimuta commented on #116
@PaulSonOfLars Thank you for your nice suggestion!

I also wish to include detail information, even when built by manually.
Do you have any good idea about how to achieve it automatically along the way of the release flow, instead of updating info manually every time?

[2019-11-29 08:40] germanschnyder-itx commented on #116
Working like charm :) Thanks!

[2019-11-30 06:58] yoheimuta commented on #117
@PaulSonOfLars Thank you for making a nice feature issue!
That sounds useful.

[2019-12-05 02:17] yoheimuta commented on #112
I prepared vim-protolint as a temporary plugin repository.

- ref. https://github.com/yoheimuta/protolint/blob/master/README.md#editor-integration

[2019-12-05 02:18] #112 closed

[2020-01-20 12:41] torkelrogstad opened #123 "Parsing breaks on empty fields within options within RPCs"
Parsing breaks when including an option with an empty message within the option. The below snippet compiles fine in `protoc`, but doesn't parse with protolint.

[code]

[2020-01-22 00:22] yoheimuta commented on #123
@torkelrogstad Thank you for reporting this issue! I'll check it out.

[2020-01-24 02:05] yoheimuta commented on #123
@torkelrogstad I fixed it.
Please confirm if it works well whenever you have time.

- ref. https://github.com/yoheimuta/protolint/releases/tag/v0.23.2

[2020-01-24 09:37] torkelrogstad commented on #123
Can confirm it works for me. Thank you for making a great tool!

[2020-01-24 09:37] #123 closed

[2020-02-05 16:44] tzachshabtay opened #125 "Feature: unused imports lint/fixer"
I am getting a warning from protoc but not from the linter (using the vscode extension).

For example:

`warning: Import google/protobuf/wrappers.proto but not used.`

[2020-02-06 02:27] yoheimuta commented on #125
@tzachshabtay Thank you for your suggestion.
It sounds useful. I attached the label to this issue for starters.

[2020-04-16 06:50] KowsikaRamachandran opened #128 "swagger annotations break the protolinter"
I have tried to run protolinter on the proto files with swagger annotations, but itseems to break the linter with below error:

found "\"max_length\"(Token=2, Pos=..\\protos\\test.proto:179:5)" but expected [}] at C:/Users/uname/go/src/github.com/yoheimuta/go-protoparser/parser/field.go:243:found "ma
x_length" but expected  at C:/Users/uname/go/src/github.com/yoheimuta/go-protoparser/internal/lexe

[2020-04-16 23:57] yoheimuta commented on #128
@KowsikaRamachandran Thank you for reaching out!
I'm going to investigate it.

[2020-04-17 05:09] KowsikaRamachandran commented on #128
Thank you for the response. Kindly investigate this issue using the below proto:
https://github.com/grpc-ecosystem/grpc-gateway/blob/master/examples/internal/proto/examplepb/a_bit_of_everything.proto

[2020-04-19 07:06] yoheimuta commented on #128
@KowsikaRamachandran I fixed it.
Please confirm https://github.com/yoheimuta/protolint/releases/tag/v0.25.1 and close it if it works fine.

[2020-04-20 06:46] KowsikaRamachandran commented on #128
Thanks! @yoheimuta, Linter works on swagger annotated protos.

[2020-04-20 06:46] #128 closed

[2020-04-23 06:26] KowsikaRamachandran opened #130 "Linter not working on directory with multiple proto folders"
Hi, Tried to apply linter on a directory with multiple folders with proto files, no response from linter.

Example:
Main Directory->
 -Folder1-> protofile1
 -Folder2-> protofile2
 -Folder3-> protofile3
It works when i remove folder2 and folder3. Let me know whether I missed something

[2020-04-23 09:04] #130 closed

[2020-04-29 12:56] reitzmichnicht opened #131 "Feature: check for usage of reserved names"
It would be great if a rule exists that prevents that the generated code for a specific programming language is invalid because of the use of reserved names for fields.

I had a field named "default" which produces errors when generating code for c/c++

[2020-04-30 00:41] yoheimuta commented on #131
@reitzmichnicht Thank you for your nice suggestion.
I agree with you that it's fairly useful.

[2020-06-26 05:44] dtaniwaki opened #132 "Feature Request of Diff Feature"
Thank you for developing a great tool. I recently started to use this tool because I want to use the fixer feature. However, I realized there's no way to check diff without actually fixing my files. Could you consider adding diff feature?

[2020-06-26 05:55] dtaniwaki commented on #132
I also realized fixer doesn't mention what it fixed.

[2020-06-28 10:04] yoheimuta commented on #132
@dtaniwaki Thank you for your nice feedback!
It sounds useful. I attached the label to this issue for now.

[2020-07-25 01:54] jd1378 opened #133 "Return with exit code 0 if no files are found"
Hi,
I'm currently trying to use this on gitlab ci, and currently don't have any files to lint, but I think since the linter exits with non zero the job fails.
isn't it better to exit with 0 when there's nothing to lint ?
here is what I use on gitlab:
[code]

[2020-07-25 02:41] yoheimuta commented on #133
@jd1378 Thank you for your interesting suggestion.

I understand your point. Can you show me some linters that behave so?
I think it's better to follow the nearly de facto rule if it exists (because many tools depend on this). Then, if it doesn't seem to be the de facto rule, we should **support it with a new option**.

For example, eslint that has immense popularity exits with code 0 when it foun

[2020-07-25 03:07] jd1378 commented on #133
You are right, I wasn't thinking about that
I checked out golangci-lint with `golangci-lint run ./...; echo $?` and it also exits with code 5 when it founds no file
I'll try to find more, but it looks like that going with a new option be the best way to do it and it won't be a breaking change if anyone by any chance depending on this

[2020-07-25 03:28] yoheimuta commented on #133
@jd1378 Thank you for your confirmation.
I agree with you.

BTW, I added a commit f45a1c7da78df95d0b6bfd93c1e07eb70238bc66 to clarify the current spec. In this case, it should return an error message with an exit code 2.

Can you make a PR if you don't mind? Otherwise, it falls under I will get to it someday.

- https://github.com/yoheimuta/protolint/blob/f45a1c7da78df95d0b6bfd93c1e07eb70238bc66/i

[2020-07-25 05:24] jd1378 commented on #133
I made a pull request, see if it looks good

[2020-07-25 08:25] #133 closed

[2020-07-25 08:32] yoheimuta commented on #133
Sorry, I misunderstood the current spec opposite 😓
(But #134 looked good to me regardless of the interpretation, as the first step.)

[2020-11-17 21:55] haroldlim opened #135 "Is there a way to add custom rule options in custom rules?"
For example, I want to introduce a new custom rule and then in the protolint.yaml file's rules_option section introduce new options for that particular custom rule?

[2020-11-21 04:50] yoheimuta commented on #135
@haroldlim Thank you for your interest in a custom rule.

Unfortunately, a protolint.yaml doesn't support options for custom rules at the moment.
I thought the need didn't seem to be so strong because the user can pass any options in a plugin's main.go like:

https://github.com/yoheimuta/protolint/blob/4a1b88feba6c0e9e2bf826f79cf1eda4b2a7effa/_example/plugin/main.go#L13.

Let me know what you thin

[2020-11-21 10:24] yoheimuta opened #136 "Unexpected error when you run a protolint from the working directory which is symlink"
That's because it causes trouble calculating the relative path of each target proto file.

[2020-11-21 10:32] yoheimuta commented on #136
I fixed it by #137.
v0.26.1 is going to include this fix.

[2020-11-21 10:32] #136 closed

[2020-11-24 17:55] haroldlim commented on #135
@yoheimuta

I think the issue with the above suggestion is that we always need to rebuild the custom plugin binary if we want to make changes?

What I was thinking is have some configurable options that we can specify in the yaml file and then the custom rule can take it in.

[2020-11-25 00:11] yoheimuta commented on #135
@haroldlim That's right.
It makes sense that some users would find it useful to change the behavior without rebuilding.
I was not sure about its demand actually, but if you need this nice feature, I'll add an enhancement label to this issue.

[2020-11-25 16:05] haroldlim commented on #135
Yes. Please add enhancement label.

[2020-12-03 16:12] ThijsBroersen opened #138 "Field Types not validated?"
I was looking for a protobuf schema validator (without creating language class files :upside_down_face: ) and found this project.

I tried validation a simple message with unknown field types but it did not invalidate the file. Is there an option/config I missed?

[2020-12-04 15:37] navaneeth-spotnana opened #139 "Protolint substituting "message" with " sage""
I am running `protolint version 0.26.1(84c57fd)` running on `macOS 11.0.1`, and it's making this wrong transformation:

![image](https://user-images.githubusercontent.com/57885431/101182456-1caae480-3674-11eb-9d66-d5d4077bd317.png)

Looks like it's making a wrong transformation. To reporoduce the issue, save the below text into a .proto file:

[code]

Run:
[code]

It prints the below output to con

[2020-12-05 06:38] yoheimuta commented on #138
@ThijsBroersen It's right.
protolint doesn't validate unknown field types because protoc is able to detect it, but I know it would be useful to have the feature.

Hence, I added the enhancement label anyway.

[2020-12-05 07:44] yoheimuta commented on #139
@navaneeth-spotnana Thank you for reporting a bug.
The current implementation seems to have the assumption that a field of the message is at the next line.
This should be fixed.

[2020-12-05 08:27] navaneeth-spotnana commented on #139
I observed similar behaviour with return statements:

![image](https://user-images.githubusercontent.com/57885431/101237791-86250480-3701-11eb-809c-b92bc07a3e02.png)

[code]

Are you going to take this up and fix it? Golang is not very familiar for me, I can take a stab at it otherwise.

[2020-12-06 08:47] navaneeth-spotnana commented on #139
I was reading the code, and this is what I understand:

[code]

The above code snippet won't work in case there are more than one elements on the same line. What would be the fix for this?

[2020-12-08 22:27] iorbitearth opened #140 "Linter fails on negative enum values"
Given the following proto file:
[code]

protolint fails on the negative enum constant:
[code]
Using the Linux 0.26.0 release `protolint_0.26.0_Linux_x86_64.tar.gz `

Not an issue for protoc. For now I'm excluding certain proto files that have negative enums in the protolint config file.

[2020-12-11 09:10] yoheimuta commented on #139
@navaneeth-spotnana Thank you for investigating this issue!
That's right. First, I think it's necessary to decide the solution users can satisfy.

What do you think about the change that protolint will do nothing against inner elements on the same line?

PS. If someone wants to format a file like converting to multiple lines with correct indentation, it would be better to support a new `format` co

[2020-12-11 10:13] yoheimuta commented on #140
@iorbitearth Thank you for letting me know!
I created an issue which is https://github.com/yoheimuta/go-protoparser/issues/57.

[2020-12-11 13:46] navaneeth-spotnana commented on #139
👎🏽 Please don't. That's very important for me. I am considering using protolint inside our company, and if it doesn't insert proper linebreaks, it will be disappointing.

Agreed, I had the same thoughts while going through the code last week. The proto file is already parsed into the json form. Full rewrite might be easier than editing. Unless you add support for newlines.

[2020-12-14 03:53] yoheimuta commented on #139
@navaneeth-spotnana Thank you for sharing your thought.
I'm working on this issue at the moment. It's almost done, so wait a while.

[2020-12-16 04:38] daltonfury42 commented on #139
In a way, full rewrite might be better, as this might enable us to support [file structure ](https://developers.google.com/protocol-buffers/docs/style#file_structure)guidelines?

[2020-12-19 02:49] yoheimuta opened #142 "Feature: Format command rewriting the file completely according to some rules"
ref. https://github.com/yoheimuta/protolint/issues/139#issuecomment-743071776

vs. `-fix option`:

- `-fix option` is so conservative that it doesn't force an opinionated format by following the explicitly specified rules with granular settings. While it's useful, sometimes it's too complicated to implement editing only a small fraction of the file content.
- `format command` is supposed to be an

[2020-12-19 02:52] yoheimuta commented on #139
@daltonfury42 That's right.
I created an issue https://github.com/yoheimuta/protolint/issues/142 for the moment.

[2020-12-19 02:57] yoheimuta commented on #139
@navaneeth-spotnana I fixed this issue by #141.
It also features inserting proper linebreaks by default.

Can you confirm [v0.27.0](https://github.com/yoheimuta/protolint/releases/tag/v0.27.0) works for you?

[2020-12-28 06:11] navaneeth-spotnana commented on #139
Yes it's working, thanks a lot.

[2020-12-28 06:11] #139 closed

[2021-01-14 13:39] danvd opened #143 "protolint.yaml: File paths are not uniformly handled in UNIX and Windows"
When linting proto files in other than root folder, overrides to separate file paths must be written 2 times to ensure proper handling in both OS versions.

This variant is properly handled in UNIX only:
[code]
This variant is properly handled in Windows only:
[code]

So to make it uniform one have to duplicate each path entry like this:
[code]

It would be great if UNIX paths will be properly acc

[2021-01-15 18:13] rost5000 opened #144 "Protolint doesn't work -plugin in windows"
I have a following proto file:
[code]
So I create a custom linter rule `custumrule/enumrule.go`:
[code]
and `main.go`:
[code]
I build project on windows and linux subsystem by `go buil main.go` and try to run command: `protolint -plugin ./main.exe .`. However, I receive: failed client.Client(), err=exec: "sh": executable file not found in %PATH%

[2021-01-16 05:09] yoheimuta commented on #143
@danvd Thank you for reaching out.
I see. It's a problem.
I'm going to fix it.

[2021-01-16 05:11] yoheimuta commented on #144
@rost5000 Thank you for your information.
It happens because the plugin depends on `sh.`

https://github.com/yoheimuta/protolint/blob/4a1b88feba6c0e9e2bf826f79cf1eda4b2a7effa/internal/cmd/subcmds/pluginFlag.go#L43

I'm going to remove this troublesome dependency.

[2021-01-17 07:42] yoheimuta commented on #144
@rost5000 Can you try adding sh in your PATH?
Because simply giving up `sh -c` seems to be not a solution. See https://github.com/yoheimuta/protolint/pull/145#discussion_r559080215.

Ref:

- https://github.com/Arkweid/lefthook/issues/91
- https://github.com/rliebz/tusk/issues/57

[2021-01-19 00:59] yoheimuta commented on #143
@danvd I fixed it by #147.
Can you confirm a master branch whether it works in both UNIX and Windows?
After that, I'm going to publish it as a new release.

[2021-01-26 01:04] yoheimuta commented on #143
I've cut a release v0.28.0 for now.
If you have any problems, please reopen this issue.

[2021-01-26 01:04] #143 closed

[2021-02-08 06:04] yoheimuta commented on #140
@iorbitearth [v0.28.2](https://github.com/yoheimuta/protolint/releases/tag/v0.28.2) allows negative enum values.
Please give it a try!

[2021-02-08 06:04] #140 closed

[2021-02-09 02:22] iorbitearth commented on #140
That fixed it, thanks!

[2021-02-16 08:46] Antonboom opened #152 "Feature: enum prefix"
https://developers.google.com/protocol-buffers/docs/style#enums

[code]

Prefer prefixing enum values instead of surrounding them in an enclosing message.

[2021-02-16 09:26] Antonboom opened #153 "Feature: accept "_" in package names (PACKAGE_NAME_LOWER_CASE)"
Why rule named `PACKAGE_NAME_LOWER_CASE` additionally checks extraneous rules?

[code]

According to the https://developers.google.com/protocol-buffers/docs/style.
[code]

We have directories like `my/some-service` and package `my.some_service`. But protolint prohibits it without proofs :(

P.S. I suggest renaming the rule to `PACKAGE_NAME_FORMAT` and let it be configured using the regex from the

[2021-02-18 10:47] jankrynauw opened #154 "Support for Google API Linter"
Hi

Is there a way to support the Google API Linter - https://linter.aip.dev/

[2021-02-18 15:16] ajimae opened #155 "Protolint linting Proto files in node_modules"
Environment
 - MacOS catalina

- Protolint Version 0.28.2

When I run protolint lint . I get a very weird error

[code]
Please I have been having this issues for some days now, I have tried ignoring the node_modules folder entirely in my protolint.yml config file but to no success.

Please help!

PS

This is the content of my `protolint.yml` file

[code]

[2021-02-19 00:29] yoheimuta commented on #155
@ajimae Thank you for reaching out.

I'm suspecting that the protolint couldn't load a yaml file properly.
Can you give it a try the below points one by one?

- Renaming to [.protolint.yaml](https://github.com/yoheimuta/protolint#configuring)?
  - ref. https://yaml.org/faq.html
- Specifying to your config file with `-config_path` option

[code]

PS. I'm thinking of adding protolint.yml and .protol

[2021-02-26 00:03] yoheimuta commented on #153
@Antonboom Thank you for suggesting nice ideas.
Your suggestions look good to me. I'm looking into it.

[2021-02-26 00:06] yoheimuta commented on #154
@jankrynauw I'm afraid the answer is NO at the moment.
If you have any ideas, please let me know.

[2021-02-26 00:10] yoheimuta commented on #152
@Antonboom Thank you for your feature request.
When I have time, I'm getting to it if anybody still doesn't work on it.

[2021-03-05 08:47] jankrynauw commented on #154
We just created our own plugin for this: https://plugins.jetbrains.com/plugin/16164-aip-linter which have a link to the source code for some ideas.

[2021-03-09 00:24] yoheimuta commented on #155
I supported this feature in v0.29.0. #156

I also included this support in v0.30.0. #157

[2021-03-09 00:24] yoheimuta commented on #155
Then, I closed this issue for now.

[2021-03-09 00:24] #155 closed

[2021-03-10 00:38] yoheimuta commented on #153
@Antonboom v0.30.1, including #158, allows a snake_case package name.
I would appreciate it if you could check.

[2021-03-10 00:38] #153 closed

[2021-03-10 05:08] Antonboom commented on #153
Thank u!

[2021-03-23 00:40] yoheimuta commented on #152
@Antonboom I added a new rule ENUM_FIELD_NAMES_PREFIX that is enabled by default.
It would be nice if you check it works for you.

- ref.
  - https://github.com/yoheimuta/protolint/releases/tag/v0.31.0
  - https://github.com/yoheimuta/protolint#rules

[2021-03-23 04:13] Antonboom commented on #152
@yoheimuta, thanks!

I'm trying to understand google developers and it seems that this rule only applies to enums outside of posts.
What do you think?

[code]

[2021-03-25 22:48] yoheimuta commented on #152
@Antonboom As you said, it seems ambiguous.

However, I'm sure that people came up with this rule to avoid tricky name collisions on C++.
Then, it rules out wrapping by a message.

[code]

- ref. https://github.com/protocolbuffers/protobuf/issues/8230#issue-792859078

The name collisions can occur even between enums wrapped by a message.

[code]

[code]

All things considered, the reasoning that a

[2021-03-26 04:16] Antonboom commented on #152
I see. Thanks!

[2021-04-05 15:53] agasparovic opened #160 "Configurable naming conventions"
Hi @yoheimuta, thanks so much for creating protolint!

My company's internal proto style guidelines are similar to Google's, but have a couple of naming differences. Notably, we use lowerCamelCase for RPC names instead of UpperCamelCase.

What do you think about making rules for checking that names conform to a configurable convention, rather than a hardcoded one?

For instance, an RPC_NAMING rule

[2021-04-05 23:42] yoheimuta commented on #160
@agasparovic Thank you for reaching out!
Having an option to configure case conventions sounds good 👍

[2021-04-10 05:19] yoheimuta commented on #112
Changed:

- https://github.com/yoheimuta/vim-protolint/commit/f2408c8a109073d192f1e87f4c2ad4af3d84343c
- https://github.com/yoheimuta/protolint/commit/c43f6f5722400cb9c87063424237597c75e6db7c

[2021-04-14 05:35] mattevans opened #161 "Bug: ENUM_FIELD_NAMES_PREFIX"
Hi,

We've currently disabled the `ENUM_FIELD_NAMES_PREFIX` linter due to it not behaving as expected.

[code]

[code]

It looks like its missing a check for the trailing underscore when the prefix contains an initialism, eg: `ID`?

[2021-04-14 05:39] mattevans commented on #161
Closing, this is on us enforcing initialisms throughout our codebase, not a bug as such. Something we will have to work with.

[2021-04-14 05:39] #161 closed

[2021-05-02 13:49] danvd commented on #143
Hi, @yoheimuta
Thank you. Sorry for being too late with this. Will check next week.

[2021-05-20 15:12] agasparovic opened #162 "Adding a FILES_HAVE_COMMENT rule"
Would be great to verify whether a file starts with a doc comment, similar to messages, services, etc.

[2021-05-26 07:37] wwuck opened #163 "trivy scanner reports CVE in docker hub image"
I ran the [trivy security scanner](https://aquasecurity.github.io/trivy/) on the docker hub image `yoheimuta/protolint:latest` and it is reporting some CVE in the docker image

[code]

[2021-05-28 16:48] jpreese opened #164 "Attempt to find configuration file in current and parent folders"
At the moment to specify a configuration directory one needs to specify `config_path` or `config_dir_path`. It would be nice to not have to specify these in the case that the configuration is just a single (potential a few more) directories up.

In other words if I have:

[code]

and I run `protolint lint parent/child/foo.proto` , protolint could check the current directory, and the directory abov

[2021-06-05 06:47] yoheimuta commented on #164
Thank you for reaching out!
Sounds nice.

[2021-06-05 08:43] yoheimuta commented on #163
@wwuck Thank you for kindly reporting!
I updated the latest and cleared all.

[code]

[2021-06-05 14:45] wwuck commented on #163
Thanks @yoheimuta! I also saw that the trivy scanner has some integrations for CI.

https://aquasecurity.github.io/trivy/v0.18.3/integrations/

Would that be useful to add to protolint CI?

[2021-06-06 02:46] yoheimuta opened #166 "trivy scanner CI integration support"
ref. https://github.com/yoheimuta/protolint/issues/163#issuecomment-855250207

[2021-06-06 02:48] yoheimuta commented on #163
I agree with you!
Since I created a new issue https://github.com/yoheimuta/protolint/issues/166, I'm closing this issue for now.

[2021-06-06 02:48] #163 closed

[2021-06-07 00:44] yoheimuta commented on #164
@jpreese I've supported the feature (ref also. https://github.com/plexsystems/vscode-protolint/issues/19) and published [v0.32.0](https://github.com/yoheimuta/protolint/releases/tag/v0.32.0).
Can you confirm it works?

[2021-08-01 02:25] #164 closed

[2021-08-01 02:27] #154 closed

[2021-08-24 13:00] wwuck opened #168 "Update to Go 1.17"
Go before 1.17 has a CVE https://nvd.nist.gov/vuln/detail/CVE-2021-29923

[2021-08-24 13:46] wwuck commented on #168
Although you might want to hold off for a while?  I don't know much about Go or it's ecosystem.

https://github.com/fullstorydev/grpcurl/issues/250#issuecomment-904641014

[2021-09-01 06:23] 631068264 opened #169 "IDE fatal error"
ExternalToolPass:

com.intellij.diagnostic.PluginException: annotator: com.yoheimuta.intellij.plugin.protolint.ProtolintAnnotator@8e5733a (class com.yoheimuta.intellij.plugin.protolint.ProtolintAnnotator) [Plugin: com.yoheimuta.intellij.plugin.protolint]
	at com.intellij.ide.plugins.PluginManagerCore.createPluginException(PluginManagerCore.java:274)
	at com.intellij.diagnostic.PluginProblemReporte

[2021-09-01 06:48] yoheimuta commented on #169
@631068264 What version did you reproduce this error?

P.S. There is the repository named intellij-protolint for IDE [here](https://github.com/yoheimuta/intellij-protolint/issues/5).

[2021-09-05 09:38] yoheimuta commented on #160
@agasparovic Hi, I created PR #170.
Since this is slightly different from what you suggested, let me know what you think if you have time.

[2021-09-06 01:59] agasparovic commented on #160
@yoheimuta - Wow that looks perfect for our use case! Thanks so much for adding.

[2021-09-07 10:30] #152 closed

[2021-09-09 00:49] yoheimuta commented on #160
I've cut a release v0.33.0 https://github.com/yoheimuta/protolint/releases/tag/v0.33.0.
And I'm closing this issue for now.

PS. If somebody **really** wants the other `something_NAME_CASE` rules, I think it's worth reopening or creating a new one.

[2021-09-09 00:49] #160 closed

[2021-09-17 21:24] steve-gray opened #174 "Problems Running in CI / Docker for Latest?"
Am using Drone CI, and I'm finding that as of the last few days the protolint stage in our repos is failing. No error message, the pod just suddenly terminates. Its as if the entry/command isn't running for the container.....

![image](https://user-images.githubusercontent.com/14563775/133854818-e8bb6e3f-4167-41b1-b831-26a372df7813.png)

The issue seems to be as of v0.33.0 onward. Reverting to 0.3

[2021-09-18 01:23] yoheimuta commented on #174
@steve-gray Thank you for reaching out!

Although there's no entry point changed,

[code]

v0.33.0 has a change on Dockerfile.

- GitHub: https://github.com/yoheimuta/protolint/compare/v0.32.0...v0.33.0#diff-dd2c0eb6ea5cfc6c4bd4eac30934e2d5746747af48fef6da689e85b752f39557R1
- DockerHub: https://hub.docker.com/layers/152840460/yoheimuta/protolint/v0.32.0/images/sha256-01798f36df3a0e45c7732218c02903

[2021-09-18 01:45] yoheimuta commented on #174
@steve-gray I fixed it by v0.34.1.
Can you confirm this?

[code]

[2021-09-18 01:54] steve-gray commented on #174
Boom, fixed. Thanks @yoheimuta  - I'll unpin the projects I'd set to 0.32 now. Thank-you for the fast turnaround!

![image](https://user-images.githubusercontent.com/14563775/133868428-e2e38b5c-2cae-4bcb-a6c6-81d40cd414dc.png)

[2021-09-20 04:11] #174 closed

[2021-09-22 14:32] agasparovic commented on #162
Hi @yoheimuta - that’s perfect! Thanks so much!

[2021-09-23 00:51] #162 closed

[2021-09-24 20:34] reitzmichnicht opened #177 "Using docker image in CI"
With the change from alpine to scratch the docker image is now not longer usable inside jenkins:

22:27:54  java.io.IOException: Failed to run image 'yoheimuta/protolint'. Error: docker: Error response from daemon: OCI runtime create failed: container_linux.go:345: starting container process caused "exec: \"cat\": executable file not found in $PATH": unknown.
22:27:54  	at org.jenkinsci.plugins.do

[2021-09-25 01:37] yoheimuta commented on #177
@reitzmichnicht Thank you for reporting the issue!
I'm reverting the base image from scratch to alpine soon.

[2021-09-25 02:09] yoheimuta commented on #177
[code]

[2021-09-25 02:10] yoheimuta commented on #177
@reitzmichnicht I fixed it.
Can you give it a try using the latest (v0.35.1)?

[2021-09-30 19:46] reitzmichnicht commented on #177
thank you very much, it's working again without issues

[2021-09-30 19:46] #177 closed

[2021-10-28 09:31] jack24254029 opened #179 "Warning: Calling bottle :unneeded is deprecated! There is no replacement."
[code]

[2021-11-03 00:01] wwuck commented on #166
I am looking at this, but would you have any interest in migrating from circleci to github actions?  Or would you prefer it be implemented on the existing circleci configuration?

I have no direct experience with either so I thought it would be a good opportunity for me to learn github actions.  I am happy either way whatever you choose.

https://docs.github.com/en/actions/migrating-to-github-acti

[2021-11-03 00:22] wwuck commented on #166
https://blog.aquasec.com/devsecops-with-trivy-github-actions
https://github.com/aquasecurity/trivy-action

or perhaps even better, would be this action?
https://github.com/marketplace/actions/container-image-scan
from Microsoft Azure, which runs both Trivy and Dockle.

I would also look at adding hadolint action
https://github.com/marketplace/actions/hadolint-action

[2021-11-03 01:51] yoheimuta commented on #166
@wwuck Thank you for your interest!
I'm happy to help you.

Yes, I prefer migrating to GitHub Action.

However, if this migration seems overwhelmed for you, considering your experience, would it be better to add GitHub Action for this trivy scan? In precise, we don't need to consolidate CI this time as the first step. Instead, you can focus on adding this feature alone. Either approach is fine for

[2021-11-03 06:33] wwuck commented on #166
Thanks! I will take a look at GitHub Actions and see how I go with it.

[2021-11-04 20:02] justinfarrelldev commented on #179
Same issue here, also with brew.
Ran into it trying to do `brew upgrade go` from go 1.15.7 to latest.

[2021-11-06 02:35] #166 closed

[2021-11-06 02:35] #168 closed

[2021-11-06 03:25] yoheimuta commented on #179
Thank you for reporting!

It may be fixed by releasing a new formula as the dependent latest go-releaser fixes this issue.
I'll give it a try.

- ref.
  - https://github.com/goreleaser/goreleaser/pull/2591
  - https://github.com/goreleaser/goreleaser/releases/tag/v0.183.0

[2021-11-06 04:01] yoheimuta commented on #179
@jack24254029 I fixed it by updating. Can you confirm the latest version?
The line is removed: https://github.com/yoheimuta/homebrew-protolint/commit/8530af409ef7d4ece5166337d65661980218c026#diff-2b45ff9d66679da6d26162df33a655de4997f510f54431c1920504d65b24f0c3

[2021-11-10 01:15] jack24254029 commented on #179
Yes, it is fixed.
Thank you.

[2021-12-22 01:03] wwuck opened #196 "Docker image should upgrade apk packages to get security updates"
It would be nice for the protolint Dockerfile to run `apk upgrade` so it can get the latest package security updates.

https://github.com/hadolint/hadolint/issues/562
https://pythonspeed.com/articles/security-updates-in-docker/

[2021-12-22 02:47] wwuck opened #199 "container-scan workflow not detecting vulnerabilities"
I'm running trivy scanner locally on the latest master branch of protolint and it is detecting some CVE in protolint binary.

[code]

When I run the `container-scan` workflow on github actions, it doesn't detect these CVE.  I also tried running trivy directly in the `trivy-action` workflow instead of using the `container-scan` workflow, but that doesn't detect it either.
https://github.com/aquasec

[2021-12-29 04:32] #179 closed

[2022-01-08 07:28] arielf-camacho opened #201 "Bug: Could not create protolint process"
Hello, I wanted to report a problem with the plugin in GoLand.

Steps to reproduce:
* Having installed GoLand: `2021.3.2`.
* Just editing a `.proto` file.
* GoLand complains about this exception.

Find below the stack trace.
[code]

[2022-01-09 01:53] yoheimuta commented on #201
@arielf-camacho It seems like the plugin didn't locate the protolint binary.
Have you installed the protolint? If so, you should put the binary at `$PATH` or the specified directory. See https://github.com/yoheimuta/intellij-protolint#path in detail.

[2022-01-09 01:59] #196 closed

[2022-01-18 17:11] mehdijoafshani opened #211 "Lint complains about field priority numbers on nested messages"
[code]
After running protolint, got the following:

While `somethingElse` is related to `MyMessage` and `MySubMessage` is a separate message.

[2022-01-18 17:16] #211 closed

[2022-02-22 17:59] DoneSpeak opened #218 "Fail to run `protolint lint .` and get go syntax error"
I install protolint with `brew install protolint` and run `protolint lint .` to verify the following proto file.
[code]
but getting error result:
[code]

How can I fix the problem?

What's more, I want to create my Dockerfile installed protolint and using the image to run pre-commit. I get a same result in the ci.

The project: https://gitlab.com/DoneSpeak/container-image

Here is the docker file:

[2022-02-22 18:10] DoneSpeak opened #219 "Require a .protolint.yaml sample"
The `.protolint.yaml ` is introduced in REAME.md file, but I still don't understand how can I write the `.protobuf.yaml` file.

Could you please provide a sample file in the project?

[2022-02-22 18:13] DoneSpeak commented on #218
Maybe I have figured out the reason. The parse requires a `syntax` key world in the protobuf file which I didn't provide. I think it should be a verify error like the following content instead of a code error which makes me very confused.

[code]

[2022-02-23 01:14] yoheimuta commented on #219
@DoneSpeak Here it is: https://github.com/yoheimuta/protolint/blob/master/_example/config/.protolint.yaml.

[2022-02-23 01:17] yoheimuta commented on #218
@DoneSpeak

That's right.

I agree with you. The parser should make the error message clearer.

[2022-02-23 15:05] ayedo opened #220 "Configuration to detect spaces after name and before semicolon"
Hello everybody,

first of all, thank you very much for your work on protolint. I have enjoyed using it so far. Currently, my protolint configuration allows the following to happen:

![image](https://user-images.githubusercontent.com/4739734/155346072-36a50820-cfda-4e23-8a9a-58817d1030dc.png)

Is there a way to configure protolint so that such a situation would not be allowed?

Thanks, and have a

[2022-02-24 01:41] yoheimuta commented on #220
@ayedo Glad to hear that!

I'm afraid there is not a rule to detect spaces between the name and the semicolon.
But, the rule sounds helpful.

[2022-02-24 08:17] ayedo commented on #220
OK, thank you for your quick reply. It's not a big problem for us, I was just wondering.

[2022-04-12 11:43] qinyuguang opened #234 "please support proto3 optional for code generator"
protoc version: v3.18.1
protoc-gen-protolint version: v0.37.1

### test.proto
[code]

### command
[code]

### output
test.proto: is a proto3 file that contains optional fields, but code generator protoc-gen-protolint hasn't been updated to support optional fields in proto3. Please ask the owner of this code generator to support proto3 optional.--protolint_out:

[2022-04-17 00:49] yoheimuta commented on #234
Thank you for reaching out!
I'm swamped with the upcoming conference now, but I'll get back to this issue next weekends.

[2022-04-28 09:56] jorgeo01 opened #237 "Protolint when ran with -plugin flag creates a never-ending sleeping process"
protolint version: v0.37.1
macOS 11.6.4 Big Sur
go 1.18.1

Followed the steps as provided by the [example plugin README](https://github.com/yoheimuta/protolint/blob/4d2f2d64c047bf53f9ab3f895c041e73f9b6f2d9/_example/plugin/README.md) file.

Using for example the .proto provided in the _testdata folder:

### single-quoted.proto
[code]

command
`protolint lint -plugin plugin_example protolint/_testda

[2022-05-03 03:59] #219 closed

[2022-05-03 04:02] yoheimuta commented on #142
Practically speaking, I've done this issue with https://github.com/yoheimuta/protolint/issues/111.
For now, I will close this issue.

[2022-05-03 04:02] #142 closed

[2022-05-03 05:34] yoheimuta commented on #234
@qinyuguang I fixed it!
Can you confirm v0.38.0?

- https://github.com/yoheimuta/protolint/releases/tag/v0.38.0

[2022-05-03 05:36] yoheimuta commented on #237
Thank you for letting me know.
I'm looking into it.

[2022-05-03 10:00] yoheimuta commented on #237
@jorgeo01 I spotted that protolint lacked the necessary handling to clean up plugin processes.
I fixed it, so can you give it a try using v0.38.1?

- ref. https://github.com/yoheimuta/protolint/releases/tag/v0.38.1

[2022-05-04 07:30] jorgeo01 commented on #237
@yoheimuta Thanks for having a look at this in such a short time.
I've tested v0.38.1 and can confirm that this issue no longer occurs and thus will close the issue.

[2022-05-04 07:30] #237 closed

[2022-05-04 14:47] #234 closed

[2022-06-23 19:51] natm opened #251 "Docker hub arm64 tagged images?"
Firstly thanks for publishing binary releases for so many different architectures. Also publishing Docker images for other archs apart from amd64 would be super helpful, namely arm64.

Here is a good example of a Github action which publishes amd64, arm64 and arm.... https://github.com/tenyo/brbr/blob/main/.github/workflows/release.yml#L11

[2022-06-25 04:51] yoheimuta commented on #251
@natm Thank you for letting me know!
I have no arm64 machine at hand, but do you mean that publishing an image for arm64 allows arm64 machines to run our image locally. Sounds great!

The example is confusing me, though.
It looks like this GitHub action just publishes binaries for each arch to GitHub Release.

I guess publishing a multi-arch docker image is best.
I'm working on it.

- ref. https:/

[2022-06-25 04:52] yoheimuta commented on #251
Like this: https://hub.docker.com/r/yoheimuta/protolint/tags

![image](https://user-images.githubusercontent.com/1223268/175758488-0cbe0233-0840-434a-b9b1-d26a1db1f99b.png)

to this: https://hub.docker.com/_/alpine?tab=tags

![image](https://user-images.githubusercontent.com/1223268/175758495-fd12b7cd-202e-4d42-af09-7d5bbdc53dbd.png)

[2022-06-25 08:31] natm commented on #251
This looks fantastic I will test today.

[2022-06-26 02:41] yoheimuta commented on #251
@natm Thank you for checking out.
I ran [a new GitHub Action](https://github.com/yoheimuta/protolint/runs/7057850778) to publish multi-arch Docker images to [DockerHub](https://hub.docker.com/r/yoheimuta/protolint/tags).
Can you test it when you have time?

![image](https://user-images.githubusercontent.com/1223268/175797038-98f7a2b6-263e-4a0d-9888-792d8b8a7e9e.png)

[2022-06-26 21:15] natm commented on #251
Excellent, confirmed working on 2 different ARM platforms.

**Raspberry Pi 4** running 64bit Raspbian:

[code]

**Mac M1**:

[code]

Many thanks for adding these images to the CI build so quickly.

[2022-06-26 21:15] #251 closed

[2022-07-06 07:02] Dentrax opened #255 "Consider add `--dry-run` option to `fix` command"
It would be nice to have such `--dry-run` flag to see what protolint going to rewrite:

For example:

[code]

[2022-07-06 07:14] Dentrax opened #256 "ENUM_FIELD_NAMES_ZERO_VALUE_END_WITH rule should not run on Enums if Go project"
By default, Go does not have `enum` so protoc generates an `iota` for enums. So we have to end the first item with zero value. This rule throws false-positive:

[code]

`protolint version 0.38.2(66f8921)`

What do you think?

[2022-07-10 10:20] yoheimuta commented on #255
@Dentrax Thank you for bringing up a nice suggestion.

I agree with you, but it could take some time to add this option because the current implementation is not well-designed for it.

[2022-07-10 11:16] yoheimuta commented on #256
@Dentrax Thank you for reaching out.

ENUM_FIELD_NAMES_ZERO_VALUE_END_WITH conforms to [the style guide](https://developers.google.com/protocol-buffers/docs/style).

- `The zero value enum should have the suffix UNSPECIFIED.`

[Go Reference](https://developers.google.com/protocol-buffers/docs/reference/go-generated#enum) says that protoc generates the constants without using `iota.`

I'm not sure

[2022-07-10 11:27] Dentrax commented on #256
Oh, thanks for clarification and references! I also want to ask I think Go does not recommend UPPER_SNAKE_CASE since it mostly wants camelCase or PascalCase in variable declaration. (whereas its ok for Java, not sure about Python since it gets angry when not use lower_snake_case) Do you have any thoughts on this?

[2022-07-13 10:21] constb opened #258 "can't install using go install"
[code]

I'm new to golang ecosystem and I really have no idea what causes this and how to fix it.

[code]

[2022-07-13 10:56] yoheimuta commented on #258
@constb I tried to reproduce it but couldn't.
Can you still reproduce it now?  If so, it seems like you better remove some cache or intermediates.

[code]

[2022-07-13 12:58] constb commented on #258
the only cache I found is `~/go/pkg/mod/cache`. I tried dropping it but that didn't help.

I also tried to unset GOPROXY by running `GOPROXY=direct go install -a github.com/yoheimuta/protolint/cmd/protolint@latest` and the error still persists.

for now, I updated protolint by downloading a precompiled binary from github releases. hopefully this issue resolves on its own at some point.

[2022-07-14 03:13] yoheimuta commented on #256
@Dentrax I have no particular thought on the rule's rationality as long as Google and its broad community define it.

In my understanding, proto files' specification is based on a language agnostic policy.
The naming convention for specific languages should be resolved by a compiler and its plugins.

The community has already discussed this topic, so I suggest you check out the link below first.

[2022-07-14 04:12] yoheimuta commented on #258
I calculated the hash myself and compared it with the stored hash.
In the end, I confirmed that the real hash and the repository's hash were mismatched 😿

[code]

I guess I needed to retract this version when I repeated publishing and deleting the same tag several times.

The simple solution is either to abandon this version or to cut a new release.
Either way, users will discard v0.38.2.

[2022-07-14 04:22] yoheimuta commented on #258
@constb I've released v0.38.3.
Can you give it a try when you have time?

[code]

[2022-07-14 04:33] yoheimuta opened #259 "Error: FATAL unable to initialize a image struct: failed to initialize source: reading manifest 66f8921347b10bfb167acc8fd861103345331ed2 in docker.io/yoheimuta/protolint: manifest unknown: manifest unknown"
ref. https://github.com/yoheimuta/protolint/runs/7333541206?check_suite_focus=true

[code]

Anything else changes in code caused this failure.
The action run 17 days ago shared the same code with the latest actions.

It seems like some dependencies have problems.

![image](https://user-images.githubusercontent.com/1223268/178898918-c378674c-4dbd-4e16-846a-25d8627a41fd.png)

[2022-07-14 04:36] yoheimuta commented on #259
@wwuck Container image scan failed out of the blue.
Could you look into this when you have time?

[2022-07-14 14:54] constb commented on #258
@yoheimuta I can confirm that 0.38.3 fixes this issue

[code]

Thank you very much!

[2022-07-15 00:57] yoheimuta commented on #258
Good to hear that! Thank you.

[2022-07-15 00:57] #258 closed

[2022-07-21 20:50] acgreek opened #260 "the plugin example doesn't appear to be working"
I cloned the repo and built the plugin and runtime

[code]
In reviewing your example plugin, as I understand it: "enumNamesLowerSnakeCaseRule" should be complaining because  " !strs.IsLowerSnakeCase(e.EnumName)" is true, but I get no error

note: I am using a Mac which of course has 'sh'

Sorry If I am doing something wrong

[2022-07-22 14:47] #260 closed

[2022-07-22 14:48] acgreek commented on #260
issue was that I had ~/.protolint.yaml. One would think that adding the plugin would auto enable it.

[2022-07-22 15:25] acgreek opened #262 "Feature request: add more context to visitor params"
I would like to write a plugin that validates that specific fields exist at specific indexes, with correct types

We have a common Event type where field index 1 must always be a  timestamp and field 2 must be meta sub message. I want to be able to write a plugin that validates when someone adds a new Event type, those two fields exist with the required index and types.

This allows our down strea

[2022-07-22 18:06] acgreek commented on #262
NM, figured out how to do this

[2022-07-23 06:39] yoheimuta commented on #260
Thank you for reporting it.
For now, I added a note about this issue by https://github.com/yoheimuta/protolint/commit/5e872f529c04c3617a2dcc2e30d7cbd404545567.

If you have a better solution, let me know.

[2022-07-24 16:03] jplumhoff opened #264 "Incorrect path while using protoc-gen-protolint in visual studio csproj"
I'm having some trouble testing out using protolint in a Visual Studio 2022 project, and I could use some advice.  Without the plugin, protoc runs correctly.  But when I add it in, it fails because the path it is using to find a file is incorrect.  This is my csproj:

[code]

Note the 'ProtoRoot="protos"' attribute.  All my protobuf files are under a common folder called "protos" in my project.  B

[2022-07-30 03:53] yoheimuta commented on #264
@jplumhoff Thank you for reaching out.

protoc-gen-protolint reads [the file paths that were explicitly listed on the command-line](https://pkg.go.dev/github.com/golang/protobuf/v2@v2.0.0-20190420063524-d24bc72368a2/types/plugin#CodeGeneratorRequest) at

- https://github.com/yoheimuta/protolint/blob/bdd209333bbd277d9743195f595ab9a55934cd54/internal/cmd/protocgenprotolint/cmd.go#L110

I'm trying to

[2022-07-31 23:32] jplumhoff commented on #264
@yoheimuta - Thank you for responding!  I ran the build using the `dotnet build -v:n` command as you requested.  It returned the output below, which shows the same error as I received when I selected the project in Visual Studio and selected the "build" option.  Please note line 42, where the the path to the offending file correctly starts with "protos\...", but in line 43, the error message shows

[2022-08-01 09:09] CorrM commented on #218
Same here

![image](https://user-images.githubusercontent.com/5868825/182114425-1cf94472-1839-411f-bda2-7fbec49802b9.png)
![image](https://user-images.githubusercontent.com/5868825/182114508-dabf7259-8a5e-4fa7-8c89-2f2ce069d9de.png)

[2022-08-03 11:46] alexhayes opened #268 "OneOf fields aren't linted"
While writing a custom rule `FIELD_NAMES_CAMEL_CASE` I discovered that `oneof` fields are not linted by the rule `FIELD_NAMES_LOWER_SNAKE_CASE` or `FIELDS_HAVE_COMMENT`.

For example, if you have;

[code]

This will pass linting even with the `FIELD_NAMES_LOWER_SNAKE_CASE` and/or `FIELDS_HAVE_COMMENT` enabled - when I'd expect it to complain about the `MyField` not being lower snake case and/or co

[2022-08-04 17:10] acgreek opened #269 "Feature request: alternate to -fix there should be a -comment-out arg"
we have a massive repo of protobuf definitions and others are objecting to breaking the existing apis that result from using '-fix', so as an alternative, it would be nice if there was '-comment-out' that would add the ```//protolint:disable:this .. ``` through out the code instead of fixing the problems. We could enable all linters and run with this arg once on our existing code base, and then al

[2022-08-06 10:25] yoheimuta commented on #268
@alexhayes Thank you for reaching out.

Oneof fields are `string eggs = 1;` and `string sausage = 2;,` not `oneof MyField { }.`

- See [oneof = "oneof" oneofName "{" { option | oneofField | emptyStatement } "}"](https://developers.google.com/protocol-buffers/docs/reference/proto3-spec#oneof_and_oneof_field)

Style Guide mentions `oneof field,` but not `oneof (name).`

- See [Use underscore_separat

[2022-08-06 10:31] yoheimuta commented on #269
Thank you! Your feature request makes sense 👍

[2022-08-11 07:40] yoheimuta commented on #264
@jplumhoff Thank you for this additional information!
I reproduced this issue locally.

While it might not be the best solution, I added a parameter to tell protolint the root location.
Can you give it a try with [v0.39.0](https://github.com/yoheimuta/protolint/releases/tag/v0.39.0) and the configuration like the below?

[code]

[2022-08-11 07:41] yoheimuta commented on #264
And I updated [README.md](https://github.com/yoheimuta/protolint/tree/master/cmd/protoc-gen-protolint).

[2022-08-12 02:21] jplumhoff commented on #264
@yoheimuta
Thank you! After I updated to v0.39.0 and made the recommended change to my csproj file, your fix worked perfectly!  For my needs at least, I think the parameter is a reasonable way to solve the problem.

[2022-08-13 03:56] yoheimuta commented on #264
@jplumhoff Good to hear that 👍

[2022-08-13 03:56] #264 closed

[2022-08-14 16:20] wwuck commented on #259
@yoheimuta This should be fixed with #271

[2022-08-15 01:58] #199 closed

[2022-08-15 01:58] #259 closed

[2022-08-27 06:26] yoheimuta commented on #269
@acgreek I just implemented a new flag `--auto_disable.`
I'm going to support the rest of the rules.
Whenever you have time, much appreciated if you let me know any feedback.

[2022-09-01 09:15] christy-95 opened #280 "indentRule causing runtime error when the file structure needs to be re-ordered"
When using protolint to lint some files, I realized that when the file needs to be re-ordered, runtime error will occur. For example, if the "import" statement comes before "package" statement as below:
[code]

It will show the following error, when you run protolint.
[code]

I have tested with the example code from https://github.com/protocolbuffers/protobuf/blob/main/examples/addressbook.proto (

[2022-09-03 02:41] jenstroeger opened #281 "Configuration not loading, issues with pre-commit?"
Hello, thanks for the tool which works fine when I use it standalone from the command-line:
[code]
However, trying to run this from pre-commit using the [suggested settings](https://github.com/yoheimuta/protolint#version-control-integration) gives
[code]
Adding to the `.pre-commit-config.yaml` the following:
[code]
or
[code]
didn’t fix the issue, and neither did
[code]
where I listed the `protos/`

[2022-09-03 03:47] yoheimuta commented on #280
@christy-95 Thank you for reaching out.

I couldn't reproduce any issues locally.
Can you tell me how to run the protolint? Do you use a particular protolint.yaml?

[code]

[2022-09-03 04:05] yoheimuta commented on #281
@jenstroeger

Do you have any changes to be committed regarding proto files?

How about `pre-commit run -a protolint`?

[2022-09-03 04:15] jenstroeger commented on #281
Yes, files in the `protos/` folder are on git’s staged area:
[code]

Same:
[code]
And if it helps:
[code]
The [meta hook](https://pre-commit.com/#meta-hooks) also suggests that the `protolint` hook doesn’t apply to the repo, which is odd because the repo does contain `*.proto` files in a subfolder:
[code]

[2022-09-03 04:29] yoheimuta commented on #281
@jenstroeger Can you give me the entire minimum`.pre-commit-config.yaml` to reproduce it? Just in case.

[code]

[2022-09-03 04:35] jenstroeger commented on #281
Sigh. All my fault 🤦🏻‍♂️

When I dumped the `.pre-commit-config.yaml`
[code]
Notice the [top-level `exclude`](https://pre-commit.com/#top_level-exclude) there. Feel free to close this issue!

[2022-09-03 04:41] yoheimuta commented on #281
Got it 😸

[2022-09-03 04:41] #281 closed

[2022-09-05 01:36] christy-95 commented on #280
Hi, I'd tried both including and without including the .protolint.yaml file, both of them display the same error. But, one thing in common is that I used a .pre-commit-config.yaml file.

The .pre-commit-config.yaml file. looks like this:
[code]

The command I used to run it is:
[code]

[2022-09-05 02:18] yoheimuta commented on #280
I suspect that running it on windows may cause this error.

@christy-95 How do you generate this stacktrace?
The target proto file is supposed to include the service definition, but your example/snippet lacks the service.

[2022-09-05 02:26] christy-95 commented on #280
The stack trace is from another example, the code is from https://github.com/pseudomuto/protoc-gen-doc/blob/master/examples/proto/Booking.proto

[2022-09-05 02:26] yoheimuta commented on #280
If the target file has mixtures of line ending formats like "\n," "\r," and "\r\n," this out-of-range error makes sense.
The protolint [detects one format as a dominant line ending](https://github.com/yoheimuta/protolint/blob/4d2f2d64c047bf53f9ab3f895c041e73f9b6f2d9/internal/osutil/file.go#L63).

[2022-09-05 02:32] christy-95 commented on #280
So this means that if I want to avoid getting the out-of-range error, my file can only have either "\n" or  "\r" or "\r\n" (only one from these three line ending formats). Please correct me if I misunderstood anything.

[2022-09-05 02:37] yoheimuta commented on #280
@christy-95 That's right.
protolint doesn't expect the mixture at the moment.

If allowing this is in demand, I'm willing to improve it, though.

FWIW, https://github.com/pseudomuto/protoc-gen-doc/blob/master/examples/proto/Booking.proto is consistent about a line ending.

[2022-09-05 02:46] christy-95 commented on #280
In that case ( https://github.com/pseudomuto/protoc-gen-doc/blob/master/examples/proto/Booking.proto), I still get the out-of-range error, when I switch around the order import and package statements. But if I didn't switch around the order of statements, it works fine. Is it because of the OS or it's anything else?

[2022-09-05 02:56] yoheimuta commented on #280
@christy-95 If the resulted file mixes the line ending, yes.
Once you add a new line, the error happens whether changes you made.

Can you check it using like [mixed-line-ending rule](https://gdevops.gitlab.io/tuto_git/tools/pre-commit/repos_hooks/repo_pre_commit_hooks/mixed-line-ending/mixed-line-ending.html) locally or upload the file to gist or anything while preserving a file format.

[2022-09-05 03:15] christy-95 commented on #280
I have tried using the mixed-line-ending rule, it worked! Thanks a lot!

[2022-09-05 03:31] yoheimuta commented on #280
Good to hear that 😸

[2022-09-05 03:57] yoheimuta commented on #269
@acgreek I've cut a release at https://github.com/yoheimuta/protolint/releases/tag/v0.40.0.
Can you give it a try?

[2022-09-05 04:12] yoheimuta commented on #269
You should use `-fix -auto_disable=this` instead of `-fix.`

[2022-09-05 13:53] christy-95 commented on #280
Hi, I'm just wondering will the protolint be able to expect the mixture of line ending formats in near future?

[2022-09-06 14:15] acgreek commented on #269
works. Thank you

[2022-09-10 05:09] yoheimuta commented on #269
Good to hear that!

[2022-09-10 05:09] #269 closed

[2022-09-10 05:46] yoheimuta commented on #280
Yes!
As I learned your use case, I'm sure supporting the mixture is worth it.

[2022-09-11 01:59] yoheimuta commented on #280
@christy-95 Hmm... I couldn't reproduce this issue yet.
I found out that the mixture itself seemed no problem.

[code]

Can you share your reproducible file with me?
Uploading the file or dumping it in both text and od format is helpful to look into it.

[2022-09-12 13:42] ricsiLT commented on #218
Yours is different but related to protolint not being able to parse UTF-8-BOM files :D for now just save them as UTF-8 but it should be fixed - no reason this can't be handled.

[2022-09-17 07:00] yoheimuta commented on #218
Thank you for clarifying the issue.

Handling UTF-8 BOM (U+FEFF) properly seems worth it.
Whenever I have time, I'm getting to it.

[2022-09-17 10:56] christy-95 commented on #280
Hi, @yoheimuta! Sorry for the late reply. Basically, this is the file [booking.txt](https://github.com/yoheimuta/protolint/files/9591491/booking.txt) I have (I'd converted into the .txt file). So, basically, it is just with one line ending format which is CRLF. After I've staged and run the pre-commit hook (with protolint), it will have the mixture (CRLF and LF) with the errors.

Thank you!

[2022-09-23 09:12] yoheimuta commented on #280
@christy-95 Thank you for uploading the file.
I fixed it by v0.41.0.
Can you give it a try when you have time?

[2022-10-02 01:04] christy-95 commented on #280
Hi @yoheimuta , it works well! Really appreciate it! Thank you very much! :smile:

[2022-10-03 06:45] ricsiLT opened #286 "Rule to separate fields by newline"
Hi, would it be easy to add a rule that would disallow this:

[code]

and force you to do this:

[code]

[2022-10-09 03:21] #280 closed

[2022-10-09 03:27] yoheimuta commented on #286
@ricsiLT Yes. It's possible and not much difficult.
You can use the position info of each message field to detect violations.

[2022-10-31 20:30] jplumhoff opened #291 "Possible regression - fix implemented in 0.39 is broken in 0.40 and 0.41"
A few months back, issue #264 was addressed in 0.39.0, allowing us to lint files in Visual Studio that had a protoroot folder specified.  I just tried upgrading to 0.40 and then 0.41.  I'm guessing there is some kind of regression... The same csproj file that works perfectly on 0.39 is failing on both 0.40 and 0.41.  This is the debug output I get with version 0.40 and 0.41:

[code]

This is my cs

[2022-11-01 15:08] quintilation opened #292 "trailing comments on fields supported?"
Hi,

We have a lot of comments like this:

message xyz {
       string a = 1;                 // first arg

      // next arg
       bool  b = 2;
}

But protolint is complaining the field a does not have a comment?
Have I missed a trick or are only preceeding/prefix comments supported?

Thanks,
-Steve

[2022-11-05 08:34] yoheimuta commented on #291
@jplumhoff Thank you for reaching out.

As I looked over your error message, I suspected the following message as a root cause.

[code]

This error is common when you don't put a binary in the appropriate path.
Did your latest `protoc-gen-protolint` put in the same place as before?

[2022-11-05 08:47] yoheimuta commented on #292
@quintilation Thank you for telling me.

No. protolint's `HAVE_COMMENT` rules don't support trailing comments.
And your question makes sense.
I realize the support would be worth it, so I'm getting to it soon.

[2022-11-05 11:53] jplumhoff commented on #291
I apologize for wasting your time with something so trivial!  I really should have seen that error...

I was switching between versions by changing my PATH variable. Apparently I had v0.39.0 in a folder like "protolint 0.39.0", while the other versions had an underscore like "protolint_0.41.0".  When I'd update my path, I missed the underscore.  Once I used the correct paths, the problem was resol

[2022-11-05 11:53] #291 closed

[2022-11-06 00:47] yoheimuta commented on #291
Good to hear that. No biggie 😸

[2022-11-07 01:54] yoheimuta commented on #292
@quintilation I've cut a release of [v0.42.0](https://github.com/yoheimuta/protolint/releases/tag/v0.42.0).
Can you give it a try?

[2022-11-07 09:52] quintilation commented on #292
Thanks very much, this almost does what we would like...
We have one case which fails in our proto files, rpc statments.
These again have trailing comments and are not found by protolint

[code]

[2022-11-07 09:57] quintilation opened #294 "pluralised check should (IMHO) be case insensitive"
We have field names which end in an ID, we pluralise these with a lower case 's' which I feel is reasonable. protolint disagrees and complains:

` Repeated field name "RunningOnDeviceIDs" must be pluralized name "RunningOnDeviceIDS"`

I am not sure if this is by design or a bug, but I thought I would report it anyway.

[2022-11-18 08:43] Shanduur opened #297 "lstat /sh: no such file or directory"
While running `yoheimuta/protolint:latest` in GitLab CI, I am seeing the following issue:

[code]

I can't see why this is a issue, I switched to `docker.io/library/golang:alpine` and before script I installed it :

[code]

This works fine. There might be an issue with how the image is built.

[2022-11-19 07:33] yoheimuta commented on #297
@Shanduur `docker build` requires the protolint binary in your workplace.

I didn't expect that someone else wanted to build the protolint by themselves.
To use it as a tool, it's enough to run `docker pull.`

[code]

Let me know what you think.

[2022-11-19 07:39] yoheimuta commented on #292
Thank you for letting me know. I'm working on it.

[2022-11-19 08:39] Shanduur commented on #297
No, no. I wanted to run the Protolint in the CI. Unfortunately, when using the docker image that you provided, the CI fails with the message I provided above:

[code]

When I use `golang:alpine` and install the protolint through `go install ...` it works fine.

[2022-11-19 08:55] yoheimuta commented on #297
Thank you for telling me.

I'm not familiar with GitLab CI.
Can you provide more specific information/instruction/steps to reproduce it on my hand?
I guess the excerpt of `.gitlab-ci.yml` seems helpful to narrow it down.

[2022-11-19 08:57] yoheimuta commented on #292
@quintilation I fixed it. Could you please install [v0.42.1](https://github.com/yoheimuta/protolint/releases/tag/v0.42.1)?

[2022-11-19 09:05] yoheimuta commented on #294
Thank you for reporting to me!
You have a point. I'm getting to it.

[2022-11-19 09:31] yoheimuta commented on #294
@quintilation I fixed it.
Can you give it a try [v0.42.2](https://github.com/yoheimuta/protolint/releases/tag/v0.42.2) when you have time?

[2022-11-19 09:53] Shanduur commented on #297
You fan create empty repository and add two files:

- `.gitlab-ci.yml`:
[code]

- `example.proto`:
[code]

This would run on every commit to *main* branch and on every commit in open merge request (pull request).

[2022-11-26 06:39] BrentHuang opened #301 "How to format the curly braces on the same line as the message/enum/service name?"
orig:
message Demo1Req
**{**
  int32 a = 1;
}

expected:
message Demo1Req **{**
  int32 a = 1;
}

I would like to ask how to put the curly braces on the same line as the message/enum/service name?

[2022-11-26 09:18] yoheimuta commented on #301
@BrentHuang protolint doesn't support formatting these curly braces.
Is it worth adding this enhancement? Let me know what you think.

[2022-11-26 09:49] BrentHuang commented on #301
some programming style similar to c++